.jumbotron {
    background-image: url(rocket.jpg);
    background-size: cover;
    background-position-x: center center;
    color: whitesmoke;
    text-shadow: 1px 1px black;
    text-emphasis: filled;
    font-family: 'Press Start 2P', cursive;
    text-align: left;
}
.navbar {
    background-color: teal;
    font-family: 'Press Start 2P', cursive;
}

body {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}
th, td {
    padding: 15px;
    text-align: left;
  }

  .lineitem:hover {
    background-color: lightskyblue;
  }

  .header {
      background-color: darkgray;
  }

  table {
      width: 100%;
  }

  .number{
      text-align: right;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .display-4 {
      font-weight: bolder
  }